<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffListServlet</servlet-name>
        <servlet-class>servlet.StaffListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>servlet.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDetailsServlet</servlet-name>
        <servlet-class>servlet.StaffDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>servlet.EditStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>servlet.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClockServlet</servlet-name>
        <servlet-class>servlet.ClockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneratePayslipServlet</servlet-name>
        <servlet-class>servlet.GeneratePayslipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffListServlet</servlet-name>
        <url-pattern>/StaffListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/AddStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDetailsServlet</servlet-name>
        <url-pattern>/StaffDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClockServlet</servlet-name>
        <url-pattern>/ClockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneratePayslipServlet</servlet-name>
        <url-pattern>/GeneratePayslipServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
